@model IEnumerable<BANDAAV1.Model.Tbbanda>

@{
    ViewData["Title"] = "View";
}

<h1>Lista de Bandas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BandaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bandagenero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BandaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bandagenero)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BandaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BandaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BandaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
